{% extends 'base.html' %}

{% block content %}
<section>
    <h1>{{ booth.name }}</h1>
    <a href="{% url 'LnF:list' %}">목록으로</a> <br>
    {% for post in posts %}
        작성자: {{post.user.username}}<br>
    
        {% if post.timeString == False %}
            작성시간: {{post.time|date:'m월 d일'}}
        {% else %}
            작성시간: {{post.time}} <br>
            작성시간: {{post.timeString}}
        {% endif %}
        <br>
        태그: {{post.tag}}
        <br>
        내용: {{post.content}}
        <br>
        {% if post.img %}
            <img src="{{ post.img.url }}" alt="" width="auto"> 
        {% endif %}
        <!-- 댓글 -->
        <div>
            <h6>댓글</h6>
            <table id="comment-table-{{post.id}}">
                {% for comment in post.comment_set.all %}
                <tr id = "comment-{{comment.id}}">
                    <td>댓글내용: {{comment.content}}</td>
                    <td>댓글 작성자: {{comment.user}}</td>
                    <td>
                        {% if comment.timeString == False %}
                        작성시간: {{comment.time|date:'m월 d일'}}
                        {% else %}
                        작성시간: {{comment.timeString}}
                        {% endif %}
                    </td>
                    <td>
                        <button class="del-btn" onclick="onClickDel({{comment.id}})">삭제</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <input id="comment_input-{{post.id}}" placeholder="댓글 달기..." type="text"/>
                <button class="btn" onclick="onClickComment({{post.id}}, 'add')">게시</button>
            </div>
        </div>
        <br>
    {% endfor %}
</section>

{% endblock %}