{% extends 'base.html' %}
{% load static %}

{% block head %}
<script defer src="{% static 'js/LnF/filter.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/LnF/style.css' %}"> 
{% endblock %}

{% block content %}
<div class="container">
    <!-- search -->
    <section>
        <div class="container">
            <form class="search" action="" method="get">
                <div class="search__btn">
                    <button type="submit" value="검색">
                        <i class="ri-search-line ri-1x"></i>
                    </button>
                </div>
                <div class="search__input w-100">
                    <input id="query" type="text" name="query" value="{{query}}" placeholder="ex. 잠실">
                </div>
                <div class="search__btn">
                    <button class="search__close" onclick="delInput()">
                        <i class="ri-close-fill ri-1x"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <div class="blank"></div>
    <!-- btn sec -->
    <section>
        <div class="container d-flex justify-content-between" style="width: 100%;">
            <div class="lnf__btn1 d-flex justify-content-center">
                <input type="checkbox" checked name="tag" value="분실" class="btn-check" id="btn-check" autocomplete="off">
                <label class="btn" for="btn-check" style="color: white;"> 잃어버렸어요 :( </label>
            </div>
    
            <div class="lnf__btn2 d-flex justify-content-center">
                <input type="checkbox" checked name="tag" value="보관" class="btn-check" id="btn-check2" autocomplete="off">
                <label class="btn" for="btn-check2" style="color: white;"> 발견했어요 :) </label>
            </div>
        </div>
    </section>
    <!-- write sec -->
    <section>
        <div class="lnf__write" style="cursor: pointer; z-index: 2; right: 1rem; bottom: 1rem;">
            <a href="{% url 'LnF:new' %}">
                <div class="center" style="border-radius: 50%; width: 60px; height: 60px; background-color:#1F52FF;; color:white">
                    <i class="ri-pencil-fill ri-2x"></i>
                </div>
            </a>
        </div>
    </section>
    <!-- post sec -->
    <div class="blank"></div>
    <section id="postList">
        <div class="container d-flex flex-column">
            {% for post in posts %}
            <div class="post shadow p-3">
                <!-- post title -->
                <div class="post__title">
                    <span class="post__{{ post.tag }}">{{post.tag}}</span>
                    <a href="{% url 'LnF:post_detail' post.id %}">{{post.booth.name}}</a>
                </div>
                <div style="height: .5rem;"></div>
                <!-- post content -->
                <div class="post_content">
                    {{post.content}} <br>
                    {% if post.img %}
                        <img src="{{ post.img.url }}" alt="" width="100%"> 
                    {% endif %}
                </div>
                <div style="height: .5rem;"></div>
                <!-- post footer -->
                <div class="post__footer">
                    <div>
                        {{post.user.username}}<br>
                    </div>
                    <div>
                        {% if post.timeString == False %}
                        {{post.time|date:'m월 d일'}}
                        {% else %}
                        {{post.timeString}}
                        {% endif %}
                    </div>
                </div>                
            </div>
            <div class="blank"></div>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}