{% extends 'base.html' %}

{% load static %}
{% block head%}
<script defer src="{% static 'js/LnF/comment.js' %}"></script>
{% endblock %}

{% block content %}
<h1>LNF List2</h1>
    <!-- search -->
    <section>
        search:
        <form action="" method="get">
            <input id="query" type="text" name="query" value="{{query}}">
            <input type="submit" value="검색">
        </form>

    </section>


    <!-- filter -->
    <section>
        <input type="checkbox" checked name="tag" value="분실">분실
        <input type="checkbox" checked name="tag" value="보관">보관
    </section>


    <section>
        <a href="{% url 'LnF:new' %}">작성</a>
    </section>
    <br>
    <serction id="postList">
        {% for post in posts %}
            <div>
                <a href="{% url 'LnF:detail' post.booth.id %}">부스명: {{post.booth.name}}</a>
                 <br>
                작성자: {{post.user.username}}<br>
                {% if post.timeString == False %}
                작성시간: {{post.time|date:'m월 d일'}}
                {% else %}
                작성시간: {{post.timeString}}
                {% endif %}
                <br>
                태그: {{post.tag}}
                <br>
                내용: {{post.content}}
                <br>
                {% if post.img %}
                    <img src="{{ post.img.url }}" alt="" width="300"> 
                {% endif %}

                <br> <br>
            </div>
        {% endfor %}
    </section>
{% endblock %}