{% extends 'base.html' %}

{% load static %}

{% block head %}
<script defer src="{% static 'js/LnF/filter.js' %}"></script>
{% endblock %}

{% block content %}
<h1>LNF List</h1>
    <!-- search -->
    <section>
        search:
        <form action="" method="get">
            <input id="query" type="text" name="query" value="{{query}}">
            <input type="submit" value="검색">
        </form>

    </section>


    <!-- filter -->
    <section>
        <div class="container d-flex justify-content-between" style="width: 100%;">
            <div class="lnf__btn1 d-flex justify-content-center">
                <input type="checkbox" checked name="tag" value="분실" class="btn-check" id="btn-check" autocomplete="off">
                <label class="btn" for="btn-check" style="color: white;"> 잃어버렸어요 :( </label>
            </div>
    
            <div class="lnf__btn2 d-flex justify-content-center">
                <input type="checkbox" checked name="tag" value="보관" class="btn-check" id="btn-check2" autocomplete="off">
                <label class="btn" for="btn-check2" style="color: white;"> 발견했어요 :) </label>
            </div>
        </div>
    </section>


    <section>
        <a href="{% url 'LnF:new' %}">작성</a>
    </section>
    <br>
    <serction id="postList">
        {% for post in posts %}
            <div>
                <a href="{% url 'LnF:post_detail' post.id %}">부스명: {{post.booth.name}}</a>
                <div>
                    태그: {{post.tag}}
                </div>
                <div>
                    내용: {{post.content}}
                </div>
                <div>
                    작성자: {{post.user.username}}<br>
                </div>
                <div>
                    {% if post.timeString == False %}
                    작성시간: {{post.time|date:'m월 d일'}}
                    {% else %}
                    작성시간: {{post.timeString}}
                    {% endif %}
                </div>
                <div>
                    {% if post.img %}
                        <img src="{{ post.img.url }}" alt="" width="300"> 
                    {% endif %}
                </div>


                <br> <br>
            </div>
        {% endfor %}
    </section>
{% endblock %}