{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/LnF/style.css' %}"> 
<link rel="stylesheet" href="{% static 'css/map/reviewcreate.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="content">
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class ="form">
                <div>
                <button type = "button" class="btn btn-dgitefault"> <a href = "{% url 'LnF:list' %}"> 취소 </a></button>
                <button type="submit" class="save btn btn-secondary">전송</button>
            </div>

            <div class="content">
                <div class="lnf__booth">
                    <input type="text" name="booth" value="{{booth}}" list="boothList" placeholder="매장 이름을 입력하세요.">
                    <datalist id = "boothList">
                        {% for booth in booths %}
                            <option value="{{booth.name}}"></option>
                        {% endfor %}
                    </datalist>
                </div>

                <div class="lnf__tag">
                    {{form.tag}}
                </div>

                <!-- {{form.content}} -->
                <div class="textcontent">
                    <textarea class="content-input" placeholder="add comment here!" name="content">
                        {% if post.content %}{{post.content}}{% endif %}
                    </textarea>
                </div>
                <!-- {{form.img}} -->
                <div class="lnf__img">
                    <div class="container">
                        <div class="image-upload" id="image-upload">
                
                            <label class="img-btn" for="chooseFile"> 사진 추가 </label>
                            <input type="file" id="chooseFile" name="img" value="" accept="image/*" onchange="loadFile(this)">
                
                            <div class="fileContainer">
                                <div class="fileInput">
                                    <p id="fileName"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% else %}
    <script type="text/javascript">
        alert('로그인을 먼저 해주세요.!')
        window.location.href = '{% url "user:login" %}'
    </script>
{% endif %}
{% endblock %}

<!-- <table>
    <tr>
        <th><label for="id_booth">Booth:</label></th>
        <td>
            <input type="text" name="booth" value="{{booth}}" list="boothList" placeholder="매장 이름을 입력하세요.">
            <datalist id = "boothList">
                {% for booth in booths %}
                    <option value="{{booth.name}}"></option>
                {% endfor %}
            </datalist>
        </td>
    </tr>
    {{form.as_table}}
</table> -->