 {% extends 'base.html' %}
<!-- main block -->
{% block content %}

{% if user.is_authenticated %}
        <h1>New POST</h1>
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <label for="id_booth">Booth: {{ booth }}</label>
                {{form.as_table}}
            </table>
            <button type = 'submit'>Submit</button>
        </form>
    {% else %}
        <script type="text/javascript">
            alert('로그인을 먼저 해주세요.!')
            window.location.href = '{% url "user:login" %}'
        </script>
    {% endif %}
{% endblock %}