{% extends 'base.html' %}
{% load static %}

{% block head%}
<script defer src="{% static 'js/LnF/comment.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/LnF/style.css' %}"> 
{% endblock %}

{% block content %}
<div class="container">
    <!-- 게시물 -->
    <section>
        <!-- 헤더 -->
        <div class="post__func">
            <a href="{% url 'LnF:list' %}"><i class="ri-arrow-left-s-line ri-1x"></i></a>

            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target=".post__chg" aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </button>
        </div>
        <!-- 작성한 유저일 경우 수정/삭제 가능-->
        {% if post.user == request.user %}
        <div class="post__chg collapse">
            <a href="{% url 'LnF:post_update' post.id %}">수정하기✏️</a>
            <!-- <a href="{% url 'LnF:post_delete' post.id %}">삭제</a> -->
            <button class="button" onclick="post_del({{post.id}})">삭제하기❌</button>
        </div>
        {% endif %}    
        <!-- 게시물 내용 -->
        <div class="post p-3">
            <!-- post title -->
            <div class="post__title">
                <span class="post__{{ post.tag }}">{{post.tag}}</span>
                <a href="{% url 'LnF:post_detail' post.id %}">{{post.booth.name}}</a>
                <a href="{% url 'LnF:booth_detail' booth.id %}">See all</a>
            </div>
            <div style="height: .5rem;"></div>
            <!-- post content -->
            <div class="post_content">
                {{post.content}} <br>
                {% if post.img %}
                    <img src="{{ post.img.url }}" alt="" width="100%"> 
                {% endif %}
            </div>
            <div style="height: .5rem;"></div>
            <!-- post footer -->
            <div class="post__footer">
                <div>
                    {{post.user.username}}<br>
                </div>
                <div>
                    {% if post.timeString == False %}
                    {{post.time|date:'m월 d일'}}
                    {% else %}
                    {{post.timeString}}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- 댓글 -->
    <section class="comment">
        <div class="comment__add">
            {% if user.is_authenticated %}
            <div>
                <input id="comment_input-{{post.id}}" placeholder="댓글 달아주세요!" type="text"/>
                <button class="btn" onclick="onClickComment({{post.id}}, 'add')">Reply</button>
            </div>
            {% else %}
            <input id="comment_input-{{post.id}}" placeholder="로그인 먼저해주세요!" type="text"/>
            {% endif %}
        </div>


        <div>
            <div class="comment__post">
                <table id="comment-table-{{post.id}}">
                    {% for comment in post.comment_set.all %}
                    <tr id = "comment-{{comment.id}}">
                        <td>댓글내용: {{comment.content}}</td>
                        <td>댓글 작성자: {{comment.user}}</td>
                        <td>
                            {% if comment.timeString == False %}
                            작성시간: {{comment.time|date:'m월 d일'}}
                            {% else %}
                            작성시간: {{comment.timeString}}
                            {% endif %}
                        </td>
                        <td>
                            {% if comment.user == request.user %}
                            <button class="del-btn" onclick="onClickDel({{comment.id}})">❌</button>
                            {% endif %}                    
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</div>
<script>
    const post_del = (id) => {
        var res = confirm('정말로 삭제하시겠습니까?');
        if (res){
            window.location.href = "{% url 'LnF:post_delete' post.id %}"
            alert('성공적으로 삭제되었습니다.')
        }
    }
</script>
{% endblock %}