/* review-detail star-rate */
.star-rating {
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: lightgray;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: transparent;
  }
   
  .star-rating-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
  }
   
  .star-rating-base {
    z-index: 0;
    padding: 0;
  }

  /* new_review star rate */
  .new-star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
  }
   
  .new-star-rating input {
    display: none;
  }
   
  .new-star-rating label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
  }
   
  /* 클릭시 별 색깔 */
  .new-star-rating :checked ~ label {
    -webkit-text-fill-color: gold;
  }
   
  /* hover시 별 색깔 */
  .new-star-rating label:hover,
  .new-star-rating label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
  }