{% load static %}
<head>
  <meta charset="UTF-8">
  <title>여기사진</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/social_reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/social.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
</head>
{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}

<p class="sub__title">로그인을 취소하셨습니다.</p>

{% url 'account_login' as login_url %}
<p class="sub__title">존재하는 계정으로 로그인을 취소하셨습니다.</p>

{% endblock %}
