body {
    font-family: SUIT-Medium;
}


#boothdetail__image {
    overflow: hidden;
}

#body__name {
    position: relative;
    top: -50px;
    background-color: white;
    border-radius: 2rem;
    padding-top: 2rem;
    box-shadow: 0 0.25rem 0.25rem whitesmoke;
}

.detail__noheart {
    margin: .5rem auto;
    padding: .5rem;
    border-radius: 2rem;
    color: white;
    background-color: #C2C2C2; 
    width: 50%;
    font-size: 20px;
}

.detail__heart {
    margin: .5rem auto;
    padding: .5rem;
    border-radius: 2rem;
    color: white;
    background-color: #F37272; 
    width: 50%;
    font-size: 20px;
}

/* #boothdetail__tags {

} */