/* div {
    font-family: GmarketSansBold;
} */
/* css 적용되는지 확인용 */


.btn {
    border-radius: 1rem !important;
}

.btn-gray {
    color: #fff !important;
    background-color: #B5B5CD !important;
    border-color: #B5B5CD !important;
}

.btn-outline-primary, .btn-outline-primary:hover {
    background-color: #B5B5CD;
    color: #FFF;
    border-color: #B5B5CD;
}

.btn-outline-ratingNlike {
    color: #D6D6F1 !important;
    border-color: #D6D6F1 !important;
}


/* search div */
.search-input {
    display: flex;
    vertical-align: middle;
    padding: 0.3rem;
    box-shadow: 0 0 0.5rem grey;
    justify-content: space-around;
    border-radius: 0.5rem;
    align-items: center;
}

#searchInput {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0px;
    border-radius: 0.5rem;
    box-shadow: 0 0 .25rem grey;
}

#inputDiv {
    position: relative;
}

#search-placeholder {
    border: none !important;
    outline: none !important;
    padding-left: 0.5rem;
}

/* placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B5B5CD;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B5B5CD;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #B5B5CD;
  }


  /* small detail 창 */
  .offcanvas-body {
    flex-grow: 1;
    padding: 0rem 1rem;
    overflow-y: auto;
}

:focus-visible {
    outline: 0;
}

.offcanvas-bottom{
    transform: none;
}
.star-rating {
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
  }
   
  .star-rating-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
  }
   
  .star-rating-base {
    z-index: 0;
    padding: 0;
  }