/* div {
    font-family: GmarketSansBold;
} */
/* css 적용되는지 확인용 */

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ROKAFSansMedium !important;
}

.btn {
    border-radius: 1rem !important;
}

.btn-gray {
    color: #fff !important;
    background-color: #B5B5CD !important;
    border-color: #B5B5CD !important;
}

/* .btn-check, */
.btn-outline-primary,
.btn-outline-primary:hover {
    background-color: #B5B5CD !important;
    color: #FFF !important;
    border-color: #B5B5CD !important;
}

.btn-check:checked+.btn-outline-primary {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.btn-outline-ratingNlike {
    color: #D6D6F1 !important;
    border-color: #D6D6F1 !important;
}


/* search div */
.search-input {
    display: flex;
    vertical-align: middle;
    padding: 0.3rem;
    box-shadow: 0 0 0.5rem grey;
    justify-content: space-around;
    border-radius: 0.5rem;
    align-items: center;
}

#searchInput {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0px;
    border-radius: 0.5rem;
    box-shadow: 0 0 .25rem grey;
}

#inputDiv {
    position: relative;
}

#search-placeholder {
    border: none !important;
    outline: none !important;
    padding-left: 0.5rem;
}

/* placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B5B5CD;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B5B5CD;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #B5B5CD;
  }


  /* small detail 창 */
.offcanvas-body {
    flex-grow: 1;
    padding: 0rem 1rem !important;
    overflow-y: auto;
}

:focus-visible {
    outline: 0;
}

.offcanvas-end{
    border: none !important;
    transform: none !important;
}

.offcanvas-backdrop {
    background-color: transparent !important;
}