/* div {
    font-family: GmarketSansBold;
} */
/* css 적용되는지 확인용 */


.accordion-button::after {
    background-image: none !important;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: inherit !important;
    background-color: inherit !important;
    box-shadow: none !important;
}

/* .accordion-item {
    border: 0 !important;
} */

.btn {
    border-radius: 1rem !important;
}

.btn-gray {
    color: #fff !important;
    background-color: #B5B5CD !important;
    border-color: #B5B5CD !important;
}

.btn-outline-ratingNlike {
    color: #D6D6F1 !important;
    border-color: #D6D6F1 !important;
}

.accordion-header:hover {
    background-color: #D6D6F1 !important;
}
