{% extends 'base.html' %}
{% block content  %}
<div class="main container bg-info">
    <div class="row">

      <div class="main__text col d-flex flex-column justify-content-center ">
        <h1 class="main__text">당신이 </br> 원하는 <br> 포토부스</h1>
        <p class="main__title">빠르게 가깝게 편하게 <br> 매장찾아 사진찍자!</p>
      </div>

      <div class="col order-1 order-lg-2">
        <img src="/frame_all.png" class="img-fluid" alt="">
      </div>

    </div>
  </div>

  <div>
    <div class="main__btn d-flex justify-content-center">
        <a href="#" class="main__text btn-get-started scrollto">Lost & Found <br> 분실물 찾기 </a>
        <a href="#" class="main__text glightbox ">Search Booth<br>부스 찾기</a>
    </div>
  </div>
    <section>
        {% for brand in brand_list %}
        
            <div>
                이름: {{ brand.0 }} <br>
                
                재촬영: {{ brand.1 }} <br>
                리모컨: {{ brand.2 }} <br>
                촬영시간: {{ brand.3 }}<br>
                가격정보<br>
                {% for frame in brand.4 %}
                    가격: {{frame.0}}
                    프레임 컷 수: {{frame.1}}
                    총 촬영 수: {{frame.2}}
                    <br>
                {% endfor %}               
                <br>
            </div>
        {% endfor %}




    </section>    
{% endblock %}