{% extends 'base.html' %}
{% block content %}

<div>
    <div>
        {% if article.image %}
        <p>
            <img src ="{{ booth.image.url }}">
        </p>>
        {% endif %}
        <h3>{{ booth.name }}</h3>
        <h6>{{ booth.loaction }}</h6>
        {% if request.user.is_authenticated %}
            {% if currentLikeState %}
                <div class="heart" onclick="onClickDislike({{booth.id}})">❤️ 여기 매장 좋아요</div>
            {% else %}
                <div class="heart" onclick="onClickLike({{booth.id}})" >🤍여기 매장 좋아요</div>
            {% endif %}
        {% else %}
            <div class="heart" onclick="onClickAlert()" >🤍여기 매장 좋아요</div>
        {% endif %}
        <br>
    </div>

    <div>
        <h4>Customer reviews</h4>
        <h6>{{booth.rating}}</h6>
        <h6>{{booth.review_number}} Reviews</h6>
        <a href="{% url 'map:booth_review_list' booth.id %}">view all reviews</a>
        <a href="{% url 'map:booth_review_create' booth.id %}">리뷰 작성 </a>

        <br>
    </div>
    <div>
        {% for tag in tags %}
            <h6>
                {% if tag == 0 %}
                    시설이 깨끗해요
                {% elif tag == 1 %}
                    소품이 다양해요
                {% elif tag == 2 %}
                    부스가 많아요
                {% elif tag == 3 %}
                    고데기가 있어요
                {% elif tag == 4 %}
                    로드점이에요
                {% endif %}
            {tag_dic[1]}개 </h6>
        {% endfor %}
    </div>

    <div>
        <br>
        <h4>Lost and Found</h4>
        {% for lnf in lnfs %}
            {% if lnf.tag == '분실' %}
            <h6>분실</h6>
            {{lnf.title}}

            {% elif lnf.tag == '보관' %}
            <h6>보관</h6>
            {{lnf.title}}

            {% else %}
            <h6>기타</h6>
            {{lnf.title}}

            {% endif %}
        {% endfor %}
        <br>

        <a href="{% url 'LnF:booth_detail' booth.id %}">more</a> <!--분실물 리스트 -->
        <a href="{% url 'LnF:new' %}">Write</a> <!-- 분실물 작성 연결 -->
        <br>
</div>


<script>
    const onClickLike = (booth_id) => {
        fetch(`${booth_id}/like_ajax/`)
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data)
        })
    }

</script>



{% endblock %}

