{% extends 'base.html' %}
{% load static %}

<!-- 이걸 여기에 넣어놔야 내가 한 프론트들이랑 규리가 한거랑 안겹칠 것 같은데-->
<!-- 클래스명들을 너무 흔하게 해놔서.. -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/map/style.css' %}">
<script defer src="{% static 'js/map/map.js' %}"></script>
{% endblock %}

{% block content %}
<!-- kakao api 사용을 위해 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=59e596b509c521df7eafd1be72b54054&libraries=services,clusterer,drawing"></script>

<br />
<div class="container">

    <div class="row" id="filter-container">
        <!-- 검색란 & 필터 부분 넣는 공간 -->
        {% comment %}
        <form method="GET" action="{% url 'map:search' %}">
            <div id="search" class="pb-3">
                <input class="w-50" name="search" type="text" placeholder="매장 이름 or 지역을 검색해보세요 ex) 홍대">
                <button class="btn btn-primary" type="submit">검색</button>
            <!-- </div> -->
        </form>
        {% endcomment %}
        <div id="searchLoc" class="pb-3">
            <input id="searchInput" class="w-25 px-2" name="search" type="text" placeholder="어디 지역으로 이동할까요? ex) 신촌역">
            <button id="searchBtn" class="btn btn-primary" type="submit">검색</button>
        </div>
        <br />

    </div>


<!-- 리스트 & 지도 -->
    <div class="row py-3">
        
        <div id="list-container" class="col-4">
            
            <!-- 정렬 선택 -->
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="sortDist" autocomplete="off">
                <label class="btn btn-outline-primary" for="sortDist">거리순</label>

                <input type="radio" class="btn-check" name="btnradio" id="sortAlpha" autocomplete="off">
                <label class="btn btn-outline-primary" for="sortAlpha">가나다순</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="sortAlphaDesc" autocomplete="off">
                <label class="btn btn-outline-primary" for="sortAlphaDesc">가나다순(거꾸로)</label>
            </div>

            <!-- 브랜드 필터 -->
            <div class="btn-group my-4" role="group" aria-label="Basic checkbox toggle button group" id="filterGroup">
                <input type="checkbox" class="btn-check" id="filter-lifefour" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="filter-lifefour">인생네컷</label>
              
                <input type="checkbox" class="btn-check" id="filter-photoism" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="filter-photoism">포토이즘박스</label>
              
                <input type="checkbox" class="btn-check" id="filter-signature" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="filter-signature">포토시그니처</label>

                <input type="checkbox" class="btn-check" id="filter-selfix" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="filter-selfix">셀픽스</label>

                <input type="checkbox" class="btn-check" id="filter-haru" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="filter-haru">하루필름</label>
                
            </div>



            <!-- 매장 리스트 -->
            <div class="accordion" id="accordionList" style="height: 500px; overflow: auto;">
            </div>
        </div>
        
        <!-- 지도 -->
        <div id="map-container"  class="col-8">
            <div id="map" style="width:800px; height: 600px;">
                <div style="cursor: pointer; position: absolute; z-index: 2; left: 0px; bottom: 0px;">
                    <img style="width: 36px; height: 36px;" id="refresh" src="../static/icons/refreshBtn.svg"></div>
                </div>
            </div>
            <!-- <p id="result"></p> -->
        </div>
        
    </div>
</div>
    
{% endblock %}