{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class = "form-container">
        <div class ="form">
        <table>
          <tbody>
            <tr>
              <th>
                <label>별점 : </label>
              </th>
              <td>
                <div class="new-star-rating">
                  <input type="radio" id="5-stars" name="rating" value="5"/>
                  <label for="5-stars" class="star">★</label>
                  <input type="radio" id="4-stars" name="rating" value="4"/>
                  <label for="4-stars" class="star">★</label>
                  <input type="radio" id="3-stars" name="rating" value="3"/>
                  <label for="3-stars" class="star">★</label>
                  <input type="radio" id="2-stars" name="rating" value="2"/>
                  <label for="2-stars" class="star">★</label>
                  <input type="radio" id="1-star" name="rating" value="1"/>
                  <label for="1-star" class="star">★</label>
                </div>
              </td>
            </tr>

            <p>
              <label>태그: </label> 
              <select class="select" multiple>
                <option value="clean">{{tag.1}}</option>
                <option value="prop">Two</option>
                <option value="booth">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
                <option value="6">Six</option>
                <option value="7">Seven</option>
                <option value="8">Eight</option>
              </select>
              <input class="form-input" name="title" type="text" maxlength="30" value="{% if review.title %}{{review.title}}{% endif %}">
            </p>


            {{form.as_table}}
          </tbody>
        </table>
        </div>
        </div>

      <br>
        <button type="submit">save</button>
    </form>

  {% else %}
  <script type="text/javascript">
    alert('로그인을 먼저 해주세요.!')
    window.location.href = '{% url "user:login" %}'
  </script>
{% endif %}
{% endblock %}