{% extends 'base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/map/reviewcreate.css' %}">
    <script defer src="{% static 'js/map/image.js' %}"></script>


{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
<div class="content">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class = "form-container">
            <div class ="form">
              <div>
              <button type = "button" class="btn btn-default"> <a href = "{% url 'map:booth_detail' id %}"> 취소 </a></button>
              <button type="submit" class="save btn btn-secondary">전송</button>
              </div>
              <div class ='title'>
                <label>{{boothname}}</label>
              </div>
              <!-- 오류표시 Start -->
              <div class="error">
              {% if form.errors %}
                  <div class="alert alert-danger" role="alert">
                  {% for field in form %}
                      {% if field.errors %}
                      <strong>{{ field.label }}</strong>
                      {{ field.errors }}
                      {% endif %}
                  {% endfor %}
                  </div>
              {% endif %}
              </div>
               <!-- 오류표시 end-->
            <div class = "content">
              <table class = "star">
              <tbody>
                <tr>
                  <th>
                  </th>
                  <td>
                    <div class="new-star-rating">
                      <input type="radio" id="5-stars" name="rating" value="5"/>
                      <label for="5-stars" class="star">★</label>
                      <input type="radio" id="4-stars" name="rating" value="4"/>
                      <label for="4-stars" class="star">★</label>
                      <input type="radio" id="3-stars" name="rating" value="3"/>
                      <label for="3-stars" class="star">★</label>
                      <input type="radio" id="2-stars" name="rating" value="2"/>
                      <label for="2-stars" class="star">★</label>
                      <input type="radio" id="1-star" name="rating" value="1"/>
                      <label for="1-star" class="star">★</label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

                <div class="tag">
                  <label>태그</label>
                  <select class="form-select" aria-label="Default select example" name = "tag" style="width: 100%" multiple="multiple">
                    <option value="시설이 깨끗해요">✨ 시설이 깨끗해요</option>
                    <option value="소품이 다양해요">🎉 소품이 다양해요</option>
                    <option value="부스가 많아요">📸 부스가 많아요</option>
                    <option value="고데기가 있어요">💇🏻‍ ‍고데기가 있어요</option>
                    <option value="로드점이에요">🛣️ 로드점이에요</option>
                  </select>
              </div>

              <div class="color">
                <label>배경색</label>
                <select class="form-select" aria-label="Default select example" name="color" multiple="multiple" style="width: 100%">
                  <option value="핑크">핑크</option>
                  <option value="하늘">하늘</option>
                  <option value="노랑">노랑</option>
                  <option value="회색">회색</option>
                  <option value="남색">남색</option>
                  <option value="연두">연두</option>
                  <option value="보라">보라</option>
                  <option value="빨강">빨강</option>
                  <option value="주황">주황</option>
                  <option value="기타">기타</option>
                  </select>
              </div>

              <div class = "textcontent">
                <textarea class="content-input" placeholder="add comment here!" name="content">{% if review.content %}{{review.content}}{% endif %}</textarea>
              </div>

              <div>
                  <!-- 기존
                <label class="img-btn" for="chooseFile"> 사진 추가 </label>
                <input id="chooseFile"  accept="image/*" type="file" maxlength="255" name="img" value="{% if review.img %}{{review.img.url}}{% endif %}">
                  -->
              </div>

              <div class="container">
        <div class="image-upload" id="image-upload">

                    <label class="img-btn" for="chooseFile"> 사진 추가 </label>
                <input type="file" id="chooseFile" name="img"  value = "{% if review.img %}{{review.img.url}}{% endif %}" accept="image/*" onchange="loadFile(this)">

            <div class="fileContainer">
                <div class="fileInput">
                    <p id="fileName"></p>
                </div>
            </div>
        </div>
              </div>
              </div>
              </div>
            </div>
            </div>
        </form>
      {% else %}
      <script type="text/javascript">
        alert('로그인을 먼저 해주세요.!')
        window.location.href = '{% url "user:login" %}'
      </script>
    {% endif %}
</div>
{% endblock %}
