{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/map/list.css' %}">
{% endblock %}

{% block content %}
<div class = "main">
    <div class ='title'>
        <a href="{% url 'map:booth_detail' booth.id%}">{{boothname}}</a>
    </div>


        {% for review in reviews %}
        <div class="reviewblock">
        <a href="{% url 'map:review_detail' review.id %}">
            <div>

                <div class="color">
                    {% for color in review.color %}
                    {% if color == '핑크'%}<div class="backcolor"></div>
                    {% elif color == '하늘'%}<div class="backcolor"></div>
                    {% endif %}
                    {{color}}
                    {% endfor %}
                </div>
                <div class = "tag">{{review.tag}}</div>

                <div class="star-rating">
                    <div class="star-rating-fill" style= "width: {{review.getWidth}}%;">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <div class="star-rating-base">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                </div>
                <div class="foot">
                    {{review.user}} | {{review.time|date:'m월 d일'}}
                </div>


            <br>
            </div>
        </a>
        </div>
        {% endfor %}
        <button type="button" class="write btn btn-secondary"> <a href = "{% url 'map:booth_review_create' booth.id %}"> 리뷰 작성</a></button>
</div>

{% endblock %}