{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<h1> .</h1>
<h1> .</h1>
<h1> .</h1>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
      <br>
        <button type="submit">save</button>
    </form>

  {% else %}
  <script type="text/javascript">
    alert('로그인을 먼저 해주세요.!')
    window.location.href = '{% url "user:login" %}'
  </script>
{% endif %}
{% endblock %}