/* 게시물 CSS */
.post {
    font-family: 'SUIT-Medium';
    color : #424258;
    border-radius: 10pt;
    margin-bottom: 1rem;
}

.post__title {
    display: flex!important;
    align-items: center;
}

.post__title > a {
    font-size: 1.2rem;
    font-family: 'SUIT-Bold';
}

.post__분실 {
    background-color: #C979D0;
    color: white;
    border-radius: 1rem;
    padding: .3rem;
    margin-right: .5rem;
}

.post__보관 {
    background-color: #69C3D7;
    color: white;
    border-radius: 1rem;
    padding: .3rem;
    margin-right: .5rem;
}

.post__footer {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    color: #A3A3B5;
    font-size: .8rem;
}

.no__post {
    font-family: 'SUIT-Medium';
    color: #424258;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    color: #A3A3B5;
    margin-bottom: 1rem;

}

.sub__title {
    margin-bottom: 5px;
    font-family: SUIT-Bold;
    font-size: 10pt;
    color: #AEAECA;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}