.bg {
    background-color: #F9F9F9;
    box-shadow:inset 0px 5px 5px -5px rgba(192, 192, 202, 0.9);
}
.sub__title {
    margin-bottom: 5px;
    font-family: SUIT-Bold;
    font-size: 10pt;
    color: #AEAECA;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem !important;
}

.no__alarm {
    font-family: 'SUIT-Medium';
    color: #424258 !important;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.alarm {
    font-family: 'SUIT-Bold';
    color: #424258 !important;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.comment__block {
    padding: 1rem 1rem 1rem 1rem;
}

.title {
    font-family: SUIT-Bold;
    font-size: 15pt;
    color: black;
}

.comment__user {
    font-family: SUIT-Medium;
    font-size: 13pt;
    color: #424258;

}

.comment {
    padding-top: 0.5rem;
    font-family: SUIT-Medium;
    font-size: 11pt;
    color: #AEAECA;
}

.check__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

.check {
    padding-top: 0.5rem;
    font-family: SUIT-Medium;
    font-size: 12pt;
    color: #0d6efd !important;
}

hr {
    color: #d3d3d3;
    height: 0.2rem !important;
}