/* 로그인 css */
.errorlist {
  color:red !important;
}
:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
  }

.signup__title {
    display: flex;
    justify-content: center;
    margin: 100px 0 15px 0;
    font-family: SUIT-Light;
    font-size: 30pt;
    color: black;
}

.space {
    margin-bottom: 1rem !important;
}

.space__new {
  margin-bottom: 2rem !important;
}

.signup__title__bold {
    font-family: SUIT-Bold;
    padding-left: 0.3rem;
}

.signup__subtitle {
    font-family: SUIT-Bold;
    font-size: 13pt;
    color: gray;
    display: flex;
    justify-content: center;
    margin-bottom: -2px;
}

.reset__form label {
    font-family: SUIT-Heavy;
    margin-bottom: 0;
    top:-20px;
    font-size:14px;
    color:#1F52FF;
}

.reset__form  input {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}


  
  .form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
  }
  .form-field::placeholder {
    color: var(--input-placeholder);
  }
  .form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
  
  .form-group {
    position: relative;
    display: flex;
    width: 100%;
  }
  .form-group > span,
  .form-group .form-field {
    white-space: nowrap;
    display: block;
  }
  .form-group > span:not(:first-child):not(:last-child),
  .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .form-group > span:first-child,
  .form-group .form-field:first-child {
    border-radius: 6px;
  }
  .form-group > span:last-child,
  .form-group .form-field:last-child {
    border-radius: 6px;
  }
  .form-group > span:not(:first-child),
  .form-group .form-field:not(:first-child) {
    margin-left: -1px;
  }
  .form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-group > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  .form-group:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
  }
  
 .form__all {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
  }

.form__all *:before, *:after {
    box-sizing: inherit;
}
  
  body .form-group {
    max-width: 360px;
  }
  body .form-group:not(:last-child) {
    margin-bottom: 32px;
  }

.reset__form button {
    font-size:18px;
    color:white;
    padding:10px 10px 10px 10px;
    display:flex;
    width: 70%;
    border:none;
    border-radius: 5px;
    background: #275EFE;
    align-content: center;
    justify-content: center;
}

.login__form button {
  font-size:18px;
  color:white;
  padding:10px 10px 10px 10px;
  display:flex;
  width: 70%;
  border:none;
  border-radius: 5px;
  background: #275EFE;
  align-content: center;
  justify-content: center;
}

.main__btn {
  padding:10px 10px 10px 10px;
  display:flex;
  width: 50%;
  border:none;
  border-radius: 5px;
  background: #275EFE;
  align-content: center;
  justify-content: center;
}

.new__btn {
  padding:10px 10px 10px 10px;
  display:flex;
  width: 100%;
  border:none;
  border-radius: 5px;
  background: #275EFE;
  align-content: center;
  justify-content: center;
}

.new__btn__no {
  padding:10px 10px 10px 10px;
  display:flex;
  width: 60%;
  border:none;
  border-radius: 5px;
  background: #275EFE;
  align-content: center;
  justify-content: center;
}

.main__text {
  font-family: SUIT-Medium;
  font-size:18px;
  color:white;
}

.center__form {
  display: flex;
  justify-content: center;
}

.bottom__btn {
  display: flex;
  justify-content: center;
}

.icon__email {
  max-width: 50%;
  display: block;
  margin: 0px auto;
  margin-top: 5rem;
}

.icon__reset {
  max-width: 25%;
  display: block;
  margin: 0px auto;
  margin-top: 5rem;
  margin-bottom: 3.6rem;
}

.email__title {
  display: flex;
  justify-content: center;
  font-family: SUIT-Bold;
  font-size: 20pt;
  color: black;
  margin-top: -2rem;
}

.email__text {
  font-family: SUIT-Bold;
  font-size: 10pt;
  color: gray;
  text-align: center;
}

.email__text__or {
  font-family: SUIT-Bold;
  font-size: 10pt;
  color: gray;
  text-align: center;
}

.other {
  color: #275EFE !important;
}

.email__space{
  padding-top: 2rem;
  padding-bottom: 15rem;
}

.chage__space{
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.change__space {
  padding-top: 2rem;
}


.email__bottom {
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.login__form label {
  font-family: SUIT-Heavy;
  margin-bottom: 0;
  top:-20px;
  font-size:14px;
  color:#1F52FF;
}

.login__form input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}

.login__form li {
  list-style:none;
  padding-left:0px;
  font-size: 12pt !important;
  font-family: SUIT-Bold;
  margin-bottom: 0;
  top:-20px;
  font-size:12px;
  color:gray;
}

.login__form ul {
  padding-left:0px;
}

.change__input {
  font-size:18px !important;
  color:white !important;
  padding:10px 10px 10px 10px !important;
  display:flex !important;
  width: 20rem !important;
  border:none !important;
  border-radius: 5px !important;
  background: #275EFE !important;
  align-content: center !important;
  justify-content: center !important;
}
