#joinForm{
    width: 23rem;
    margin: 0 auto;
}

ul.join_box{
    border: 1px solid #ddd;background-color: #fff;
}
.checkBox,.checkBox>ul{
    position: relative;
}
.checkBox>ul>li{
    padding-right:6rem
}
.checkBox>ul>li:first-child{
    width: 85%;
    padding: 15px;
    font-weight: 600;
    color: #888;
}
.checkBox>ul>li:nth-child(2){
    position: absolute;top: 50%;right: 30px;margin-top: -12px;
}
.checkBox textarea{
    font-family: SUIT-Medium;
    width: 96%;
    height: 90px; 
    margin: 0 2%;
    background-color: #f7f7f7;
    color: #888; 
    border: none;
    resize: none;
}
.footBtwrap{margin-top: 15px;}

.footBtwrap>li{
    float: left;
    width: 50%;
    height: 60px;
}
.footBtwrap>li>button{
    display: block; 
    width: 100%;
    height: 100%; 
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
.fpmgBt1{background-color: #fff;color:#888}
.fpmgBt2{background-color: lightsalmon;color: #fff}

button {
    font-family: SUIT-Medium;
    font-size:18px;
    color:white;
    padding:10px 10px 10px 10px;
    display:flex;
    width: 70%;
    border:none;
    border-radius: 5px;
    background: #275EFE;
    align-content: center;
    justify-content: center;
}

.bottom__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    margin: 40px 0 15px 0;
    font-family: SUIT-Bold;
    font-size: 27pt;
    color: black;
}

.sub__title {
    font-family: SUIT-Medium;
    font-size: 13pt;
    color: gray;
    display: flex;
    justify-content: center;
}

.space {
    margin-bottom: 2rem;
}

.little__space {
    margin-bottom: 0.5rem;
}

.important {
    color: #275EFE;
}