/* hello */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 h2 h3 h4 h5{
    font-family: ROKAFSansMedium;
}

p {
    font-family: SUIT-Medium;
    font-size: 16pt;
    color : #424258;
}

header {
    background-color: white;
}

.center {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-family: 'ROKAFSansMedium', 'SUIT', sans-serif;
    font-size: 30pt;
    font-weight: 600;
    text-decoration: none;
}

.navbar__link {
    display: block;
    padding: 1rem 0;
    color: black;
    text-decoration: none;
    font-family:'SUIT', sans-serif;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.main {
    padding-top: 120pt;
    padding-bottom: 50pt;
}

.main__text {
    color: white;
    font-family: 'ROKAF Sans', 'SUIT', sans-serif;;
}

.main__btn {
    background-color : #C979D0
}

.user__title {
    font-family: ROKAFSansMedium;
    color: black;
}