{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <h1>{{ booth.name }}</h1>
    <a href="{% url 'LnF:list' %}">목록으로</a> <br>
    {% for post in posts %}
    <div>
        작성자: {{post.user.username}}<br>
        {% if post.timeString == False %}
            작성시간: {{post.time|date:'m월 d일'}}
        {% else %}
            작성시간: {{post.time}} <br>
            작성시간: {{post.timeString}}
        {% endif %}
        <br>
        태그: {{post.tag}}
        <br>
        내용: {{post.content}}
        <br>
        {% if post.img %}
            <img src="{{ post.img.url }}" alt="" width="auto"> 
        {% endif %}
    </div>
    <br>
    {% endfor %}
</section>

{% endblock %}