{% extends 'base.html' %}
{% load static %}

{% block head%}
<script defer src="{% static 'js/LnF/comment.js' %}"></script>
{% endblock %}

{% block content %}
<section>
    <h1><a href="{% url 'LnF:booth_detail' booth.id %}">{{ booth.name }}</a></h1>
    <a href="{% url 'LnF:list' %}">목록으로</a> <br>
    <div>
        작성자: {{post.user.username}}<br>
        {% if post.timeString == False %}
            작성시간: {{post.time|date:'m월 d일'}}
        {% else %}
            작성시간: {{post.time}} <br>
            작성시간: {{post.timeString}}
        {% endif %}
        <br>
        태그: {{post.tag}}
        <br>
        내용: {{post.content}}
        <br>
        {% if post.img %}
            <img src="{{ post.img.url }}" alt="" width="auto"> 
        {% endif %}
        {% if post.user == request.user %}
            <a href="{% url 'LnF:post_update' post.id %}">수정</a>
            <!-- <a href="{% url 'LnF:post_delete' post.id %}">삭제</a> -->
            <button class="button" onclick="post_del({{post.id}})">삭제</button>
        {% endif %}
    </div>
        <!-- 댓글 -->
    <div>
        <h6>댓글</h6>
        <table id="comment-table-{{post.id}}">
            {% for comment in post.comment_set.all %}
            <tr id = "comment-{{comment.id}}">
                <td>댓글내용: {{comment.content}}</td>
                <td>댓글 작성자: {{comment.user}}</td>
                <td>
                    {% if comment.timeString == False %}
                    작성시간: {{comment.time|date:'m월 d일'}}
                    {% else %}
                    작성시간: {{comment.timeString}}
                    {% endif %}
                </td>
                <td>
                    {% if comment.user == request.user %}
                    <button class="del-btn" onclick="onClickDel({{comment.id}})">삭제</button>
                    {% endif %}                    
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if user.is_authenticated %}
        <div>
            <input id="comment_input-{{post.id}}" placeholder="댓글 달기..." type="text"/>
            <button class="btn" onclick="onClickComment({{post.id}}, 'add')">게시</button>
        </div>
        {% else %}
        <input id="comment_input-{{post.id}}" placeholder="로그인 먼저해주세요!" type="text"/>
        {% endif %}
    </div>
        <br>
</section>
<script>
    const post_del = (id) => {
        var res = confirm('정말로 삭제하시겠습니까?');
        if (res){
            window.location.href = "{% url 'LnF:post_delete' post.id %}"
            alert('성공적으로 삭제되었습니다.')
        }
    }
</script>
{% endblock %}