{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example</title>
</head>
<body>
    <!-- 로그인 유무에 따른 nav 차이 -->


    <!-- main block -->

<a href="{% url 'user:main' %}"><span>왜안보여</span></a>
<a href="{% url 'user:login' %}"><p>로그인가라고</p></a>
</body>
</html>