{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/map/style.css' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'js/map/map.js' %}"></script>

    {% block head %}
    {% endblock %}

    <title>example</title>
</head>
<body>
    <!-- 로그인 유무에 따른 nav 차이 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand px-3" href="#">로고</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active px-5" aria-current="page" href="#">검색</a>
              <a class="nav-link active px-5" href="#">브랜드</a>
              <a class="nav-link active px-5" href="#">분실물</a>
              <a class="nav-link active px-5" href="#">로그인</a>
              <a class="nav-link active px-5" href="#">회원가입</a>
            </div>
          </div>
        </div>
    </nav>
    {% block header %}
    {% endblock %}

    <!-- main block -->
    {% block content %}
    {% endblock %}

</body>
</html>