
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="row" style="margin:20px auto;">
        <div class="col-sm-12">
            <div class="alert alert-danger">
            <strong>{{ message.tags }}!</strong> {{ message.message }}
            </div>
        </div>
        </div>
    {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'user:change_password' %}">
      {% csrf_token %}
      현재 비밀번호 : 
      <input name="origin_password" type="password">
      <br><br>
      변경할 비밀번호 :
      <input name="new_password" type="password">
      <br><br>
      비밀번호 확인 : 
      <input name="confirm_password" type="password">
      <br><br>
      <input class="btn btn-primary" type="submit" value="변경"> 
    </form>
    <a href="{% url 'user:main' %}">마이페이지로</a>
  </div>

<!-- 장고 기본 폼에서 사용한 코드 -->
<!-- <h2 style="text-align:center;">비밀번호 변경</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" style="text-align:center;">
  {% csrf_token %}
  {{ form }}
  <button type="submit">변경사항 저장</button>
</form> -->

{% endblock %}