{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user/signup.css' %}">
{% endblock %}

{% block content %}
<div class="title__all">
  <h2 class="signup__title">Change<span class="signup__title__bold">Password</span></h2>
  <p class="space signup__subtitle">새로운 비밀번호를 생성해주세요.</p>
</div>
{% if messages %}
{% for message in messages %}
<div class="row" style="margin:20px auto;">
  <div class="col-sm-12">
    <div class="alert alert-danger">
      <strong>{{ message.tags }}!</strong> {{ message.message }}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="center__form">
  <form method="POST" action="{% url 'user:change_password' %}">
    {% csrf_token %}
    <p class="top__text">ORIGIN PASSWORD</p>
    <div class="form-group">
      <input class="form-field"name="origin_password" type="password" placeholder="Origin Password" required>
    </div>

    <p class="top__text">NEW PASSWORD</p>
    <div class="form-group">
      <input class="form-field" name="new_password" type="password" placeholder="New Password" required>
    </div>
    
    <p class="top__text">CONFIRM PASSWORD</p>
    <div class="form-group">
      <input class="form-field" name="confirm_password" type="password" placeholder="Confirm Password" required>
    </div>

    <div class="bottom__btn">
      <input class="signup__input btn btn-primary" type="submit" value="Change">
    </div>
  </form>
</div>

{% endblock %}