{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}

{% providers_media_js %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}">
{% endblock %}

{% block content %}
<div class="title__all">
    <h2 class="signup__title">Welcome<span class="signup__title__bold">Back!</span></h2>
  
    <p class="signup__subtitle">Enter your informations below</p>
    <p class="space signup__subtitle">or login with a social account</p>
</div>
<div class="login__form center__form ">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_table}}
        <div class="bottom__btn">
            <button>Login</button>
        </div>
    </form>
</div>
<div class="signup__btn">
    <a class="signup" href="{% url 'user:signup' %}">Sign up</a>
</div>
<div class="hr-sect">OR</div>

<div class="social__btn">
    <div class="social__flex social">
        <img class="icon__social" src="{% static 'icons/google_logo.png' %}">
        <a class="social__text" href="{% provider_login_url "google" %}">Login with Google</a>
    </div>
</div>
<div class="social__btn">
    <div class="social__flex social">
        <img class="icon__social" src="{% static 'icons/naver_logo.png' %}">
        <a class="social__Text" href="{% provider_login_url "naver" %}">Login with Naver</a>
    </div>

    
</div>

<a class="password" href="{% url 'password_reset' %}">Forgot password?</a>


{% endblock content %}


