{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user/style.css' %}">
{% endblock %}

{% block content %}
<div>
    {% if user.is_authenticated %}
    <div class="all">
        <div class="profile">
            <h3>{{ user }}</h3>
            <h4>{{ user }}님! 여기사진과 함께 다양한 부스를 방문해보세요😉</h4>
        </div>
        <div class="part">
            <p class="sub__title">liked</p>
            {% if user_liked_num == 0 %}
            <p class="no__liked"> 아직 좋아요를 한번도 안해보셨어요🥺 </p>
            {% else %}
            <div class="liked_container ">    
                {% for booth_brand in liked_booth_brand %}
                <div class="liked__content">
                    <img class="liked__img" src="{{booth_brand.1.liked_img.url}}" alt="">
                    <p class="liked__title">{{booth_brand.0.name}}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
        </div>
        <div class="part">
            <p class="sub__title">Dashboard</p>
            <div>
                <div class="line"><img src="../static/icons/LnF.svg">Lost and Found<a class="arrow" href="{% url 'user:my_lnf' %}">></a></div>      
                <div class="line"><img src="../static/icons/review.svg">Reviews<a class="arrow" href="{% url 'user:my_review' %}">></a></div>
                <div class="line"><img src="../static/icons/notice.svg">notice<a class="arrow" href="{% url 'user:notice' %}">></a></div>
            </div>
        </div>
        <div class="part">
            <p class="sub__title">My account</p>
            <div class="log__out"><a href="{% url 'user:log_out' %}">log out</a></div>
            <div class="edit"><a href="{% url 'user:modify' %}">Edit profile</a></div>
        </div>
    </div>

    {% if len != 0 %}
    <a href="{% url 'user:notice' %}">{{ len }}</a>
    {% endif %}
    
    {% else %}
    <a href="{% url 'user:login' %}">로그인</a>
    {% endif %}

    
</div>
{% endblock%}