{% extends 'base.html' %}
{% block content %}
<div>
    <div> TEST </div>
    {% if user.is_authenticated %}
    <div>
        <h3>{{ user }}</h3>
        <div>
            <p>{{ user }}님! 여기사진과 함께 다양한 부스를 방문해보세요😉   </p>
        </div>
        <p>Dashboard</p>
        <p>Lost and Found       <a href="{% url 'user:my_lnf' %}">></a></p>
        <p>Reviews         <a href="{% url 'user:my_review' %}">></a></p>
        <p>Privacy</p>
    </div>
    <a href="{% url 'user:change_password' %}">비밀번호 변경</a>
    <a href="{% url 'user:log_out' %}">로그아웃</a>
    
    {% else %}
    <a href="{% url 'user:login' %}">로그인</a>
    {% endif %}

    {% if len != 0 %}
    <a href="{% url 'user:notice' %}">새로운 알림 {{ len }}개</a>
    {% endif %}
</div>
{% endblock%}