{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user/my_lnf.css' %}">
{% endblock %}

{% block content %}

<section class = "my_LnF">
    <p class="sub__title">My Lost and Found</p>
    <section id="postList">
        <div class="container d-flex flex-column">
            {% if my_lnf_exist == 0 %}
            <div class="no__post">게시물이 없습니다.</div>
            {% else %}
            {% for post in lnf_posts %}
            <div class="post shadow p-3">
                <!-- post title -->
                <div class="post__title">
                    <span class="post__{{ post.tag }}">{{post.tag}}</span>
                    <a href="{% url 'LnF:post_detail' post.id %}">{{post.booth.name}}</a>
                </div>
                <div style="height: .5rem;"></div>
                <!-- post content -->
                <div class="post_content">
                    {{post.content}} <br>
                    {% if post.img %}
                    <img src="{{ post.img.url }}" alt="" width="300">
                    {% endif %}
                </div>
                <div style="height: .5rem;"></div>
                <!-- post footer -->
                <div class="post__footer">
                    <div>
                        {{post.user.username}}<br>
                    </div>
                    <div>
                        {% if post.timeString == False %}
                        {{post.time|date:'m월 d일'}}
                        {% else %}
                        {{post.timeString}}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
{% endblock %}