{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user/my_review.css' %}">
{% endblock %}

{% block content %}
<section class = "my_review">
    <p class="sub__title">My review</p>
    {% if my_review_exist == 0 %}
        <div class="no__post">게시물이 없습니다.</div>
    {% else %}
    <div>
        {% for post in reviews_posts %}
        <p>{{ post.booth }}</p>
        <p>별점 : {{ post.rate }}</p>
        <p>{{ post.content }}</p>
        <p>{{ post.tag }}</p>
        <div>
            <!-- <p>{{ post.user }}</p> -->
            <p>{{ post.date }}</p> 
        </div>
        <a href="{% url 'user:read_my_review' post.id %}">게시글 확인하기</a>
        {% endfor %}
    </div>
    
    {% endif %}
</section>
<a href="{% url 'user:main' %}">마이페이지로</a>
{% endblock %}