{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/reset_password.css' %}">
{% endblock %}

{% block content %}
<body>
  <div class="title__all">
    <h2 class="signup__title">Reset<span class="signup__title__bold">Password</span></h2>
  
    <p class="signup__subtitle">아래에 계정과 연결된 이메일 주소를 적어주세요.</p>
    <p class="space signup__subtitle">새로운 비밀번호 설정을 위한 메일을 보내드립니다.</p>
  </div>
  
  <div class="reset__form center__form">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="bottom__btn">
        <button type="submit" value="메일 보내기">Send email</button>
      </div>
    </form>
  </div>
</body>

{% endblock %}