.lnf__btn1 {
    width: 49%;
    padding: .5rem;
    background-color : #C979D0;
    border-radius: 10px;
    font-family: 'ROKAFSansMedium';
}

.lnf__btn2 {
    width: 49%;
    padding: .5rem;
    background-color : #69C3D7;
    border-radius: 10px;
    font-family: 'ROKAFSansMedium';
}

.lnf__write {
    position: fixed;
}

/* 게시물 CSS */
.post {
    font-family: 'SUIT-Medium';
    color : #424258;
    border-radius: 10pt;
    margin-bottom: 1rem;
}

.post__title {
    display: flex!important;
    align-items: center;
}

.post__title > a {
    font-size: 1.2rem;
    font-family: 'SUIT-Bold';
}

.post__tag {
    background-color: #C979D0;
    color: white;
    border-radius: 1rem;
    padding: .3rem;
    margin-right: .5rem;
}

.post__footer {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    color: #A3A3B5;
    font-size: .8rem;
}
