.lnf__btn1 {
    width: 49%;
    padding: .5rem;
    background-color : #C979D0;
    border-radius: 10px;
    font-family: 'ROKAFSansMedium';
}

.lnf__btn2 {
    width: 49%;
    padding: .5rem;
    background-color : #69C3D7;
    border-radius: 10px;
    font-family: 'ROKAFSansMedium';
}

.lnf__write {
    position: fixed;
}